/* Utilities */


/* Global */
.full-width { width: 100%; }
.page {
  min-height: calc(100vh - 48px);
  padding-top: 48px;
}
.page-content-wrapper {
  max-width: 1020px;
  margin: auto;
}

/* Grid */



/* Flex Helpers */


/* Top Nav */
.top-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 48px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}


/* Login */
.login-page {
  padding: 200px;
}

.login-form {
  max-width: 400px !important;
  margin: auto;
}

/* Overrides */
.ui.basic.segment,
.ui.segment.pushable {
  padding: 0 !important;
  min-height: 100vh;
}

.placeholder-page-label {
  text-align: center;
  padding-top: 20vh;
}
